<p>barchart works!</p>
<div class="col-sm-4 text-center"   >
    <h2 class="text-center">PIE chart using Chartjs and Angular 6</h2>
    <canvas baseChart 
          [data]="this.customers.default"
          [labels]="this.customers.labels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>


      <!-- <div class="col-sm-4 text-center">
        <h2 class="text-center">bar chart using Chartjs and Angular 6</h2>
        <canvas baseChart
              [data]="barChartData"
              [labels]="barChartLabels"
              [chartType]="barChartType"
              [options]="barChartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div> -->